.about_us{
	width: 1000px;
	height: 800px;
	background:white;
}

#SIGIS{
    color: black;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 150%;
    letter-spacing: -1px;
}
}

.borde{
	border: 1px solid black;
}

.presentacion{
	width: 1200px;
	height: 900px;
}

.fases{
	width: 500px;
	height: 800px;
	text-align:center;
}

.conclusion{
	width: 1000px;
	height: 800px;
	text-align:center;
}

.diapositiva{
	width: 1000px;
	height: 700px;
	color: white;
	
    border-radius: 10px;
	
	background-color: #2F2727; 
	background-image: url(img/radial_bg.png); 
	background-position: center center; 
	background-repeat: no-repeat; 
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727)); 
	background: -webkit-radial-gradient(circle, #1a82f7, #2F2727); 
	background: -moz-radial-gradient(circle, #1a82f7, #2F2727);
	background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
}

.prisma{
	width:600px;
	height:800px;
	
	background: rgb(206,220,231); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

}

.titulo_prisma{
	font-weight:bold;
	
}

