.borde{
	border: 1px solid black;
}

.presentacion{
	width: 1200px;
	height: 900px;
}

.fases{
	width: 500px;
	height: 800px;
	text-align:center;
}

.conclusion{
	width: 1000px;
	height: 800px;
	text-align:center;
}

.diapositiva{
	width: 1000px;
	height: 700px;
	color: white;
	
    border-radius: 10px;
	
	background-color: #2F2727; 
	background-image: url(img/radial_bg.png); 
	background-position: center center; 
	background-repeat: no-repeat; 
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727)); 
	background: -webkit-radial-gradient(circle, #1a82f7, #2F2727); 
	background: -moz-radial-gradient(circle, #1a82f7, #2F2727);
	background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
}

.prisma{
	width:600px;
	height:800px;
}